.jumbotron {
	margin-bottom: 0px;
    background-image: url(gambar/awsnacks.jpg);
    background-size: contain;
    background-position: center;
    background-color: white;
    min-height: 500px;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 0;
}
hr {
	display: block;
	border-style: inset;
    border-width: 3px;
    margin-bottom: 10px;
}

#sekilas {
	text-align: center;
	justify-content: center;
	background-color: #7ceabc;
}
#sekilas .container ul {
	padding: 10px 0 10px 0px;
}

.carousel-inner {
	width: 50%;
	max-height: 800px;
}

.carousel-inner .carousel-item img {
    margin: 0 auto;
}

#wadah-carousel {
	background-color: #5eb18b;
}

.contact {
	width: 30px;
	height: 30px;
	color: black;
}
.conect {
	padding: 0;
}
.variant {
	list-style: none;
	padding: 0;
}
.bg-dark {
	margin-top: 56px;
	padding: 25px 0px 25px 0px; 
}
#body {
	margin: 0;
}
#headhtml {
	background-color: #FFC107;
	align-content: center;
	align-items: center;
}
.container1 {
	width: 80%;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	margin: auto;
	}
.anchor  {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.anchor:hover {
	border: 1px solid;
	border-color: white;
}
.nav1, .nav2, .nav3 {
	margin: 0px 8px 0px 8px;
} 
.container2 {
	background-color: #263238;
	display: flex;
	justify-content: space-between;
}
.titel {
	margin:auto;
	color: #fafafa;
	font-size: 80px;
	padding: 25px 0px 25px 0px;
}
.bulat {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.about-cont {
	display: flex;
	align-items: center;
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #5eb18b;
}
.ul2 {
	padding-right: 20px;
}
.footer2 {
	background-color: #FFC107;
	align-content: center;
	align-items: center;
	font-size: 15px;
}
.container3 {
	width: 80%;
	display: flex;
	margin: auto;
	justify-content: space-between;
}
#about-us {
	max-width: 200px;
}
#conect1 {
	padding: 0;
	max-width: 300px;
}
.anchor2  {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.anchor2:hover {
	color: white;
}

@media screen and (max-width: 680px) {
    #body {
        background-color: lightgreen;
    }
    iframe {
    	width: 400px;
    	height: 220px;
    }
    .container1, .container3, .about-cont {
    	display: table-row;
    	margin: auto; 
    	justify-content: center;
    }
}